.article {
  display: flex;
  align-items: center; // Center items vertically
  margin-bottom: 20px;
  margin-top: 10px;

  .img-container {
    padding-left: 20%;
  }

  img {
    width: auto;
    height: 140px;
    object-fit: cover;
  }

  .article-content {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
  }

  h5, h6, h3 {
    margin-bottom: 10px;
    font-weight: 100;
  }

  button {
    background-color: #fff;
    color: black;
    padding: 10px;
    margin-top: 10px;
    border: 2px thin rgba(0, 0, 0, 0.234);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: black;
      color: #fff;
    }
  }

  // Media query for responsiveness
  @media only screen and (max-width: 768px) {
    flex-direction: column; // Stack items vertically on smaller screens

    .img-container {
      padding-left: 0; // Remove left padding for image container
      margin-bottom: 10px; // Add margin between image and content
    }

    img {
      width: 100%; // Make image take full width
      height: auto; // Let height adjust automatically
    }

    .article-content {
      margin-right: 0; // Remove right margin for content
      margin-left: 0; // Remove left margin for content
    }
  }
}
