.pagination {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 20px; 

    button {
      background-color: #2b030316;
      color: black;
      padding: 10px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease; 
  
      &:hover {
        background-color: black;
        color: #fff;
      }
    }
  
    .page-info {
      p {
        margin: 0;
      }
    }
  }