.container {
    height: 100%;
  }
  
  .nav-container {
    padding: 20px 80px;
    background-color: rgba(0, 0, 0, 0.147);
  
    .logoContainer {
      display: flex;
  
      .logo {
        // your logo styles
      }
  
      .search {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        margin-bottom: 30px;
        
        .search-icon{
          margin-left: 20px
        }
    
        input {
          padding: 5px; 
          margin-left: 5px;
          margin-top: 10px;
          margin-right: 10px;
          border-bottom: 2px solid black;
          border-top: none;
          border-left: none; 
          border-right: none;
          width: 150px;
          height: 20px;
          outline:none;
          background-color: transparent;
        }
      }
      
      .socials {
        display: flex;
        gap: 10px;
    
        img {
          width: 20px; 
          height: auto;
          
        }
      }
    
    }
  
    .nav-links {
      display: flex;
      justify-content: flex-end;
      gap: 50px;
      font-size: large;
      font-weight: bold;
  
      .nav-link {
        a {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
  